<nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo">OWLDEVS</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/web-dev" class="nav">WEBDEV</a></li>
        <li><a href="/projects" class="nav">GAMEDEV</a></li>
        <li><a href="/about-us" class="nav">ABOUT US</a></li>
      </ul>
    </div>
  </nav>
  <ul class="side-nav black" id="mobile-demo">
        <li><a class="nav" href="/web-dev">WEBDEV</a></li>
        <li><a class="nav" href="/projects">GAMEDEV</a></li>
        <li><a class="nav" href="/about-us">ABOUT US</a></li>
</ul>