<p></p>
<h2 class="center">The Divine Comedy Game</h2>
<p></p>
<div class="row">
  <div class="col s6">
    <img id="character-img" width="60%" alt="Character" src="./assets/Images/Character.jpg">
  </div>
  <div class="col s6">
      <h5>We are making a game based on an Italian narrative poem by Dante Alighieri, 
        begun c. 1308 and completed in 1320, a year before his death in 1321.
        </h5>
         <h5>The poem's imaginative vision of the afterlife is representative of the medieval 
            world-view as it had developed in the Western Church by the 14th century.
            The narrative describes Dante's travels through Hell, Purgatory, and Paradise or Heaven,
             while allegorically the poem represents the soul's journey towards God.</h5>
        <br>
  </div>
</div>
<br><br>